# How to Read and Write From DIGGIE

### Read DIGGIE

In [1]:
import pyodbc
import pandas as pd

##### If you do not have the pyodbc library, you can do a conda install by opening the Anaconda Prompt and entering: 

        conda install -c anaconda pyodbc

##### Connection Details:

In [2]:
server = 'bieno-da-s-00000-unilevercom-sql-01-scna.database.windows.net'
database = '********'
username = '******'
password = '*******'
driver = '{ODBC Driver 13 for SQL Server}'  # You might need to edit this part
port = '3306'

##### The SQL Query:

In [3]:
sql = '''
SELECT TOP 5 * FROM [MASTER].[FactSalesDocHeader]
'''

##### Run the Query and assign to 'df'

In [4]:
connection_string = 'DRIVER={};SERVER={};PORT={};DATABASE={};UID={};PWD={}'.format(
    driver, server, port, database, username, password)
cnxn = pyodbc.connect(connection_string)
df = pd.read_sql(sql, cnxn)  # Can be assigned to any variable name
cnxn.close()

##### Test it out:

In [5]:
df

,SalesDocumentNumber,SalesDocumentType,CreatedOn,SoldToParty,DeliveryBlock,SalesDocumentCategory,DeliveryDate,SalesOrganization,DistributionChannel,OrderHeaderDivision,...,OriginalItemPalletCount,NumberOfOriginalPallets,RequestedDeliveryDate,RadDateChangeIndicator,RequestedArrivalTime,RequiredDeliveryTimeMargin,RequiredDeliveryTimeMargin2,LastChangedOn,NumberOfDocumentCondition,DateStamp
0,0023284758,ZQTT,2018-01-02,0010439146,None,C,2018-01-02,MX01,01,20,...,0.000,0.000,None,None,00:00:00,00:00:00,00:00:00,2018-01-02,0184363203,2018-01-02 16:31:26
1,0023284759,ZQTT,2018-01-02,0010774703,None,C,2018-01-02,MX01,01,20,...,0.000,0.000,None,None,00:00:00,00:00:00,00:00:00,2018-01-02,0184363204,2018-01-02 16:31:26
2,0023284760,ZQTT,2018-01-02,0030098741,None,C,2018-01-02,MX01,01,20,...,0.000,0.000,None,None,00:00:00,00:00:00,00:00:00,2018-01-02,0184363205,2018-01-02 16:31:26
3,0023290237,ZQTT,2018-01-02,0030484672,None,C,2017-12-29,0001,10,11,...,0.000,0.000,2017-12-29,None,00:00:00,00:00:00,00:00:00,2018-01-02,0184365396,2018-01-02 16:31:26
4,0023290238,ZQTT,2018-01-02,0030145903,None,C,2017-12-29,0001,10,11,...,0.000,0.000,2017-12-29,None,00:00:00,00:00:00,00:00:00,2018-01-03,0184365676,2018-01-03 16:28:49

---

### Write to DIGGIE

In [6]:
import pandas as pd
import numpy as np
import pyodbc
from sqlalchemy import create_engine

##### Create a sample data frame to write to DIGGIE:

In [7]:
df = pd.DataFrame({'x': [1, 2, 3, 4, 5], 'y': ['a', 'b', 'c', 'd', 'e']})

##### Connection Details:

In [8]:
server = 'bieno-da-s-00000-unilevercom-sql-01-scna.database.windows.net'
database = '********'
username = '******'
password = '*******'
driver = 'ODBC Driver 13 for SQL Server'  # You might need to edit this part
port = '1433'

##### Specify the schema, table name, and action to perform if the table already exist:

In [9]:
schema = 'TEST'
table = 'test_of_target_import'
if_exists = 'fail'  # 'fail', 'replace', or 'append'

##### Write the data frame to DIGGIE:

In [10]:
connection_string = 'mssql+pyodbc://{}:{}@{}:1433/{}?driver={}'.format(
    username, password, server, database, driver.replace(' ', '+'))
engine = create_engine(connection_string)
df.to_sql(table, engine, schema = schema, if_exists = if_exists, index=False)
engine.dispose()